html {
  padding: 0.5em;
  font-family: Calibri, Courier, "Courier New", Monospaced, Georgia, serif;
  background: #f2f2ff;
}

li {
  list-style-type: none;
}

.focused {
  background-color: #fafaff;
}

.focused * {
  opacity: 1.0;
}

h1, h2, p {
  opacity: 0.4;
}

.describes {
  padding-left: 0;
}

.describes h1 {
  font-size: 1.1em;
  color: #456b88;
  line-height: 1.8em;
  margin: 0pt 0pt 0.6em;
  border-bottom: 1px solid transparent;
}

.describes h1:hover {
  cursor: pointer;
  color: #000;
  background-color: #F4F2E4;
  /*border-bottom: 1px solid #9A8E51;*/
}

.describes .describe {
  margin-top: 10px;
  margin-left: 0.6em;
  padding-left: 0.6em;
  border: 1px dotted #6E6E6E;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.describes .describe .its {
  padding-right: 10px;
}

.describes .describe .its .it {
  list-style-type: lower-roman;
  list-style-position: outside;
}

.describes .describe .its .it h2 {
  font-weight: normal;
  font-style: italic;
  padding-left: 0.5em;
  font-size: 1.0em;
  color: #877C21;
  line-height: 1.8em;
  margin: 0 0 0.5em;
  border-bottom: 1px solid transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.describes .describe .its .it.enqueued h2 {
  background-color: #CC6600;
  color: white !important;
}

.describes .describe .its .it.passed h2 {
  background-color: #40ffaa;
  color: #000 !important;
}

.describes .describe .its .it.failed h2 {
  background-color: #993300;
  color: white !important;
}

.describes .describe .its .it.failed p {
  margin-left: 1em;
  color: #993300;
}

.describes .describe .its .it h2:hover {
  cursor: pointer;
  color: white !important;
  background-color: #5a753d;
  border-bottom: 1px solid #9A8E51;
}
